body {
  background-image: url("https://ca.slack-edge.com/T03ALA7H4-U03MXEUE7-1ac66545231b-512");
  background-color: #1664a9;
  text-align: center;
}

#thermostat-settings {
  position: relative;
  clear: both;
  top: 150px;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}

nav {
  position: fixed;
  text-align: center;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 10px 10px;
}

#weather-settings {
  position: relative;
  top: 300px;
  clear: both;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
}

h1 {
 color:  black;
}

button {
   border: solid 2px;
   text-align: center;
   font-size: 100%;
   border-radius: 5px;
   padding: 5px;
   width: 90px;
}

section {
  position: relative;
  top: 50px;
}

#reset{ 
  background-color: orange;
}

#increase-temp{ 
  background-color: #ff5050;
}

#decrease-temp{ 
  background-color: #66ccff;
}

#psm-on, #psm-off{ 
  background-color: rgb(74, 195, 162);
}

.low-usage {
  color: #50c750;
}

.medium-usage {
  color:#4f82ce;
}

.high-usage {
  color: #e85252;
}

.temp{
    font-size: xx-large;
}